<!DOCTYPE html>
<html lang="pt-BR">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <link rel="shortcut icon" href="/images/favicons/android-chrome-192x192.png" type="image/x-icon" />
  <link rel="shortcut icon" href="/images/android-chrome-512x512.png" type="image/x-icon" />
  <link rel="shortcut icon" href="/images/apple-touch-icon.png" type="image/x-icon" />
  <link rel="shortcut icon" href="/images/favicon-16x16.png" type="image/x-icon" />
  <link rel="shortcut icon" href="/images/favicon-32x32.png" type="image/x-icon" />
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <title>Açaí Bistrô Office Hour</title>
  </head>
  <body>
    <div class="container">
      <div class="container-form">
       <img src="/images/logo.png" alt="logo do Açaí Bistrô"  width="150" />
       <h4>Office hour</h4>
       <br>
       <form action="table" method="post">
         <p>
           <input type="text" class="input-form" name="nome_usuario" id="nome_usuario" placeholder="Nome de Usuário" required>
         </p>
         <p>
           <input type="password"  class="input-form" name="senha" id="senha" placeholder="Senha" required/>
         </p>
         <p>
           <input type="submit" name="button" id="button" value="Entrar"/>
         </p>
       </form>
     </div>
    </div>
  </body>
</html>
